html {
    font-family: "Roboto Mono", monospace;
}

body {
    background-color: #111;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}